@import '../../dojo/resources/dojo.css';
@import '../../dgrid/css/dgrid.css';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}

.loading{font-size:1.5em;text-align:center;}

.loaded
.loading{display:none}

#layoutContainer {
    width: 100%;
    height: 100%;
}

.navbar-logo {
    margin-top: 0px;
    margin-bottom: -10px;
    width: 30px;
    height: 30px;
}

.message {
    position: absolute;
    left: 0;
    padding: 7px;
    color: red;
}

