@import '../../dojo/resources/dojo.css';
@import '../../dgrid/css/dgrid.css';

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}

.claro .appLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

.loading{font-size:1.5em;text-align:center;}

.loaded
.loading{display:none}

#layoutContainer {
    width: 100%;
    height: 100%;
}

.navbar-logo {
    margin-top: 0px;
    margin-bottom: -10px;
    width: 30px;
    height: 30px;
}

.message {
    position: absolute;
    left: 0;
    padding: 7px;
    color: red;
}



